.popup {
    width: 70%;
    margin: 100px auto;
    box-shadow: 0px 0px 13.899999618530273px 1px rgba(0, 0, 0, 0.15);
    text-align: end;
    border-radius: 24px;
}
.popup form {
    padding: 40px;
}
.popup form input ,
.popup form select {
    background-color: rgba(236, 236, 236, 1);
    height: 50px;
    margin-bottom: 20px;

}
.popup form label {
    font-size: 24px;
    font-weight: 600;
    color:rgba(22, 72, 99, 1);

}
.popup form .title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(22, 72, 99, 1);
    margin-bottom: 20px;

}
.popup form .submit {
    width: 150px;
}